
@font-face {
    font-family: Bodoni;
    src: url('BodoniXT.ttf');
}

a {
    color: white;
    text-decoration: none;
}

canvas {
    display: block;
}

#particle-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#343434, #747474, #343434);
    z-index: -1;
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    background: #d22626;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 20;
}

.randomcircle {
    position: absolute;
    left: 0;
    top: 0;
    background: #d22626;
    border-radius: 50%;
    z-index: 1;
}

.big {
    width: 250px;
    height: 250px;
}

.circle-title:hover {
    color: white;
    transition: color 1s;
}

.circle-title {
    font-family: Bodoni;
    font-size: 1.5em;
    line-height: 150px;
    color: #d22626;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.circle-1, .circle-2, .circle-3, .logo {
    grid-column: auto;
    grid-row: auto;
}

#profilecircle1, #profilecircle2, #profilecircle3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #aaa;
    width: 250px;
    height: 250px;
    z-index: 20;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 150px;
    min-height: 50px;
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
}

.navigation {
    font-family: Bodoni;
    position: absolute;
    max-width: 100px;
    width: 100%;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d22626;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-bottom-right-radius: 20px;
    z-index: 20;
}

.profilecircle > img {
    max-width: 250px;
    width: 250px;
    height: 250px;
    margin: 0px;
    border-radius: 50%;
    box-shadow: 0 0 5px #343434;

}

#profiletext1, #profiletext2, #profiletext3 {
    float: right;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    padding: 20px;
}

#profiletext1 > h1, #profiletext2 > h1, #profiletext3 > h1 {
    font-size: 2em;
}

#profiletext1 > h3, #profiletext2 > h3, #profiletext3 > h3 {
    font-size: 1em;
    text-transform: uppercase;
}

.navigation > a {
    line-height: 40px;
}

.dropdown {
    left: 0;
    top: 0;
    position: absolute;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    margin-top: 10px;
    font-family: Bodoni;
    z-index: 40;
}

.dropdown > a > li {
    line-height: 40px;
    background: #d22626;
    margin: 5px;
    border-radius: 20px;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    text-align: center;
    z-index: 40;
}

.dropdown > a > li:hover {
    background-color: #747474;
    transition-duration: 0.5s;
}

.navigation:hover > .dropdown, .navigation > .dropdown:hover {
    visibility: visible;
    opacity: 1;
    color: white;
}

@media only screen and (min-width: 740px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 100px;
    }

    .circle {
        position: absolute;
        left: 0;
        top: 0;
    }

    .logo {
        position: absolute;
        left: 0;
        top: 0;
    }
}