@font-face {
    font-family: "Abuget";
    src: url("Abuget.ttf");
}

@font-face {
    font-family: "Day Roman";
    src: url("DAYROM__.ttf");
}

body {
	font-family: 'Day Roman';
	font-style: 'normal';
    background-color: #e0ebe8;
    color: #333;
    line-height: 1.8em;
}

a, a:link, a:visited {
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    color: #45b29a;
    padding: 5px;
    background: #e0ebe8;
    border-radius: 5px;
}

a:hover {
    color: #333;
    background: white;
}

b {
    font-weight: bold;
}

header {
    text-align: center;
    color: #45b29a;
    margin-bottom: 100px;
    padding: 10px;
}
header > h1 {
    color: #45b29a;
    font-family: 'Abuget';
    text-align: center;
    font-size: 4em;
    margin-top: 100px;
    margin-bottom: 100px;
}

header > p {
    font-size: 1.5em;
}

section {
    text-align: center;
    font-size: 1em;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro {
    background: white;
}

.intro > img {
    border-width: 10px;
    border-color: #e0ebe8;
    border-style: solid;
    border-radius: 20px;
}

.intro > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    color: #45b29a;
    margin-bottom: 50px;
}

h3 {
    font-size: 1.2em;
    color: #45b29a;
}

.center-link {
    text-align: center;
    border-width: 1px;
    border-color: #45b29a;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: #fff;
    border-width: 1px;
    border-bottom-width: 3px;
    border-top-width: 3px;
    border-color: #45b29a;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.card > .card-header {
    text-align: left;
    margin-bottom: 10px;
}

.card > .card-header > h3 {
    color: #45b29a;
}

.card > .card-body > img {
    min-width: 160px;
    min-height: 90px;
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-width: 1px;
    border-color: #e0ebe8;
    border-style: solid;
}

.card > .card-body {
    text-align: left;
}

.card > .card-body > a {
    padding: 5px;
    background: #e0ebe8;
    border-radius: 5px;
}

.card-container-full {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.card-container-full > .card > img {
    float: none;
    min-width: 160px;
    min-height: 90px;
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    border-width: 1px;
    border-color: #e0ebe8;
    border-style: solid;
    margin-right: 10px; 
}

.card-container-full > .card > .card-body {
    text-align: center;
    padding: 10px;
}

.card-container-full > .card > .card-body > a {
    float: bottom;
}

@media only screen and (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
}

@media only screen and (min-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .card-container-full > .card > img {
        float: left;
        max-width: 55%;    
    }
}