{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Portfolio Ruslan</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "reset.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "main.css" %}'>
</head>
<body>
    <header>
        <h1>Hello! I'm Ruslan.</h1>
        <p>Many problems can be solved by software and automation.<br/>I solve them for you so you can focus on your business.</p>
    </header>
    <section class="intro">
        <img src='{% static "profile-image.jpg" %}' width="100px"/>
        <p>I'm a Python expert based in Belgium, Europe.<br/>I have a passion for software architecture and problem solving.<br/>In every project I focus on content, clarity and code quality.</p>
        <a href='{{ url_freelancer }}' class="center-link">Hire me on freelancer</a>
    </section>
    <section>
        <h2>This is what I can do for you</h2>
        <div class='card-container'>
            {% for service in services %}
            <div class='card'>
                <div class='card-header'>
                    <h3>{{ service.name }}</h3>
                </div>
                <div class='card-body'>
                    <p>{{ service.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>This is how I work</h2>
        <div class='card-container'>
            {% for milestone in milestones %}
            <div class='card'>
                <div class='card-header'>
                    <h3>{{ milestone.number }}. {{ milestone.name }}</h3>
                </div>
                <div class='card-body'>
                    <p>{{ milestone.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>Here are a few examples</h2>
        <div class='card-container'>
            {% for project in projects %}
            <div class='card'>
                <div class='card-header'>
                    <h3>{{ project.service_name }}</h3>
                </div>
                <div class='card-body'>
                    <img src='{% static project.image_url %}' />
                    <p>{{ project.description }}</p>
                    <a href='{{ project.url }}'>More details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <footer>&copy 2019</footer>
</body>
</html>