{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prima Garnet Afrika</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "reset.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "garnet.css" %}'>
    <script src='{% static "particles.min.js" %}'></script>
</head>
<body>
    <div id='particle-background'></div>

    <div id='circle1' class='randomcircle'></div>
    <div id='circle2' class='randomcircle'></div>
    <div id='circle3' class='randomcircle'></div>
    <div id='circle4' class='randomcircle'></div>
    <div id='circle5' class='randomcircle'></div>
    <div id='circle6' class='randomcircle'></div>
    <div id='circle7' class='randomcircle'></div>
    <div id='circle8' class='randomcircle'></div>
    <div id='circle9' class='randomcircle'></div>
    <div id='circle10' class='randomcircle'></div>
    <div id='circle11' class='randomcircle'></div>
    <div id='circle12' class='randomcircle'></div>

    <ul class='dropdown'>
        <a href="#"><li>Our company</li></a>
        <a href="/garnet/profile/"><li>About us</li></a>
        <a href="#"><li>Contact</li></a>
    </ul>

    <div class='grid-container'>
        <img class='logo' src='{% static "garnetlogo.png" %}'/>
        <div class='circle circle-1' id='garnet1'><a href='#'><p class='circle-title'></p></a></div>
        <div class='circle circle-2' id='garnet2'><p class='circle-title'>About us</p></div>
        <div class='circle circle-3' id='garnet3'><p class='circle-title'></p></div>
    </div>

    <script src='{% static "anime.min.js" %}'></script>
    <script src='{% static "randomcircles.js" %}'></script>
</body>
</html>
