{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Portfolio - Ruslan</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "reset.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "main.css" %}'>
</head>
<body>
    <header>
        <h1>{{ project.name }}</h1>
        <p>{{ project.short_description }}</p>
    </header>
    <section class="project-showcase">
        <img src="{% static project.image_url %}"/>
        <p class="description">
            {{ project.long_description }}<br/><br/>
            Technology stack:<br/>
            {{ project.tech_stack }}
        </p>
        <a href='/' class="backbutton">Back to portfolio</a>
    </section>
</body>
</html>