{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prima Garnet Afrika</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "reset.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "garnet.css" %}'>
    <script src='{% static "particles.min.js" %}'></script>
</head>
<body>
    <div id='particle-background'></div>

    <div id='circle1' class='randomcircle'></div>
    <div id='circle2' class='randomcircle'></div>
    <div id='circle3' class='randomcircle'></div>
    <div id='circle4' class='randomcircle'></div>
    <div id='circle5' class='randomcircle'></div>
    <div id='circle6' class='randomcircle'></div>
    <div id='circle7' class='randomcircle'></div>
    <div id='circle8' class='randomcircle'></div>
    <div id='circle9' class='randomcircle'></div>
    <div id='circle10' class='randomcircle'></div>
    <div id='circle11' class='randomcircle'></div>
    <div id='circle12' class='randomcircle'></div>
    <div id='profilecircle1' class='profilecircle'>
        <img src='{% static "profile1.png" %}' id='profileimage1' />
        <div id='profiletext1'>
            <h1>Temi Anomide</h1>
            <h3>Head Brand manager</h3><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div id='profilecircle2' class='profilecircle'>
        <img src='{% static "profile2.png" %}' id='profileimage2' />
        <div id='profiletext2'>
            <h1>Temi Anomide</h1>
            <h3>Head Brand manager</h3><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div id='profilecircle3' class='profilecircle'>
        <img src='{% static "profile3.png" %}' id='profileimage3' />
        <div id='profiletext3'>
            <h1>Temi Anomide</h1>
            <h3>Head Brand manager</h3><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>


    <script src='{% static "anime.min.js" %}'></script>
    <script src='{% static "profile.js" %}'></script>
</body>
</html>
