{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Portfolio - Ruslan</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "reset.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "main.css" %}'>
</head>
<body>
    <header>
        <h1>{{ project.service_name }}</h1>
        <p>{{ project.short_description }}</p>
    </header>
    <section>
        <div class='card-container-full'>
            <div class='card'>
                <img src='{% static project.image_url %}'/>
                <div class='card-body'>
                    <p><b>{{ project.name }}</b></p>
                    <p>{{ project.long_description }}</p><br/>
                    <p><b>Technology stack:</b></p>
                    <p>{{ project.tech_stack }}</p><br/>
                    <a href='/'>Back to portfolio</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>